<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBioskop" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:5666/ProjekatIST/Bioskop/Rezervacija"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBioskop"
        contract="BioskopServis.IBioskop" name="BasicHttpBinding_IBioskop" />
    </client>
  </system.serviceModel>
</configuration>