<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAdminBioskop" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:5678/ProjekatIST/Bioskop/Rezervacija"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdminBioskop"
                contract="BioskopService.IAdminBioskop" name="NetTcpBinding_IAdminBioskop">
                <identity>
                    <userPrincipalName value="TLALOC\Sinisa" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>